
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="templatemo_content_right">
    @foreach (var sach in Model)
    {
    <div class="templatemo_product_box" style=" padding">
        <a href="@Url.Action("Details", "BookStore", new {id = sach.Masach} )">
            <img alt="@sach.Tensach" src="~/images/@sach.Hinhminhhoa" width="130" />
            @sach.Tensach
        </a>
        <div class="rating">
            <p class="pull-right">15 review</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star">
                </span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </p>
        </div>
    </div>
    }
</div>



